<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../css/oksub.css">
    <link rel="stylesheet" href="../../css/dtree.css">
    <link rel="stylesheet" href="../../font/dtree/dtreefont.css">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
</head>
<body class="ok-body-scroll">
<div class="ok-body">
    <!--面包屑导航区域-->
    <!--<div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>常用页面</cite></a>
                <a><cite>权限列表</cite></a>
            </span>
        <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    &lt;!&ndash;模糊搜索区域&ndash;&gt;
    <div class="layui-row">
        <form class="layui-form layui-col-md12 ok-search">
            <input class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime">
            <input class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime">
            <input class="layui-input" placeholder="请输入权限名" autocomplete="off">
            <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>-->

    <!--        <div class="layui-row">-->
    <!--            <div class="layui-col-md5">-->
    <!--                <div id="permissionTree"></div>-->
    <!--            </div>-->
    <!--            <div class="layui-col-md7">-->
    <!--                <table class="layui-hide" id="permissionTable" lay-filter="tableFilter"></table>-->
    <!--            </div>-->
    <!--        </div>-->


    <div class="layui-row">
        <form class="layui-form layui-col-md12 ok-search">
            <input class="layui-input" placeholder="字典编码" autocomplete="off" lay-key="1" name="dictCode">
            <input class="layui-input" placeholder="字典名称" autocomplete="off" lay-key="2" name="dictName">
            <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </form>
    </div>
    <table class="layui-hide" id="permissionTable" nane="tableName"  lay-filter="tableFilter"></table>

</div>
<!--js逻辑-->
<script th:src="@{/lib/layui/layui.js}"  th:inline="javascript"></script>
<script type="text/html" id="barDemo">
    <input name="{{d.dictId}}"  type="hidden" autocomplete="off"   class="layui-input">
    <input name="value" type="text" id="{{d.dictId}}"  autocomplete="off"  style="text-align: right;font-size: 30px" class="layui-input">

</script>
<script th:inline="javascript">
    layui.use(["element", "table", "laydate", "okLayer", "okUtils", "form"], function () {
        let table = layui.table;
        let laydate = layui.laydate;
        let okUtils = layui.okUtils;
        let okLayer = layui.okLayer
        let form = layui.form;
        $ = layui.jquery;

        laydate.render({elem: '#startTime', type: "datetime"});
        laydate.render({elem: '#endTime', type: "datetime"});
        initPermissionTable()

        function initPermissionTable(data) {
            okUtils.ajax("/dict/list/?parentId=" + [[${dictId}]], "post", data, true).done(function (response) {
                table.render({
                    elem: '#permissionTable',
                    height: 'full-120',
                    data: response.data,
                    limit: 20,

                    page: true,
                    toolbar: "#toolbarTpl",
                    size: "lg",
                    cols: [
                        [
                            {type: "checkbox", fixed: "left"},
                            {type: "numbers", align: "center", title: "序号", width: 70, fixed: "left"},
                            {field: "dictCode", title: "字典编码"},
                            {field: "dictName", title: "字典名称"},
                            {field: "userRealName", title: "创建人"},
                            {field: "organName", title: "所属组织"},

                            {
                                title: "创建时间",
                                align: "center",
                                templet: '<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>'
                            },


                            {
                                field: 'value',
                                title: "金额",
                                width: 300,
                                align: "right",
                                event: 'viewReport',
                                toolbar: '#barDemo'
                            }
                        ]
                    ],
                    done: function (res, curr, count) {
                        parent.layui.$("form").children("input[name='" + [[${treeId}]] + "dictId']").addClass("one");
                        parent.layui.$("form").children("input[name='" + [[${treeId}]] + "value']").addClass("one");
                        parent.layui.$("form").children("input[name='" + [[${treeId}]] + "dictId']").each(function (i, obj) {
                            let varnum = formatCurrency(parent.layui.$("form").children("input[name='" + [[${treeId}]] + "value']")[i].value)
                            $("input[name='" + $(obj).val() + "']").next().val(varnum)
                            for (let i = 0; i < res.data.length; i++) {
                                if (res.data[i].dictId == $(obj).val()) {
                                    var index = res.data[i]['LAY_TABLE_INDEX'];
                                    res.data[i].LAY_CHECKED = true; // 设置选中
                                    $('tr[data-index=' + index + '] input[type="checkbox"]').prop('checked', true);
                                    $('tr[data-index=' + index + '] input[type="checkbox"]').next().addClass('layui-form-checked');
                                }
                            }
                        })


                            $("input[name='value']").bind('blur', (obj) => {

                                let num1 = obj.target.value
                                var  v_id = obj.target.id

                                if(num1.indexOf(",") ==-1){
                                    if(num1){
                                        var  num= formatCurrency(num1)
                                        $("input[name='"+v_id+"']").next("input[name='value']").val(num);

                                    }else{
                                      //  $('input[name="value"]').val("");
                                    }

                                }
                            })

                            $("input[name='value']").bind('keydown',function(event){
                                // var num1 = 0;
                                // if (event.key != "0"){
                                //     num1 = parseInt(event.key);
                                // }
                                // // var num1 = $('input[name="value"]').val();
                                // var  num= formatCurrency(num1)

                                if(event.keyCode == "13") {

                                    $(this).parents("tr").next().find("input[name='value']").focus()
                                }
                                // $('input[name="value"]').val("");
                                // $('input[name="value"]').val(num);
                                // // alert(num+"==");
                            });





                        // $("td").on("click", function () {
                        //     if ($(this).attr("data-off")) {
                        //         let val = $(this).find("input[name='value']").val();
                        //         if ($(this).children("input[class='layui-input layui-table-edit']").length == 0) {
                        //             $(this).append("<input class='layui-input layui-table-edit' type='number' value='" + val + "'>");
                        //             $('input[class="layui-input layui-table-edit"]').focus();
                        //             let oVal = $('input[class="layui-input layui-table-edit"]').val();
                        //             $('input[class="layui-input layui-table-edit"]').val("");
                        //             $('input[class="layui-input layui-table-edit').val(oVal);
                        //             $('input[class="layui-input layui-table-edit').scrollLeft=700;
                        //
                        //             $('input[class="layui-input layui-table-edit"]').blur(function() {
                        //                 alert(2222)
                        //             });
                        //         }
                        //     }
                        // })
                    }
                });
            });

        }

        table.on('checkbox(tableFilter)', function (obj) {
            if (obj.checked) {
                parent.layui.$("form").children("." + obj.data.dictId).addClass("one");
            } else {
                parent.layui.$("form").children("." + obj.data.dictId).removeClass("one");
            }


        });


        // 表单查询
        form.on("submit(search)", function (data) {
            initPermissionTable(data.field)
            return false;
        });

        table.on("toolbar(tableFilter)", function (obj) {
            switch (obj.event) {
                case "batchSubmit":
                    batchSubmit(obj);
                    break;
            }
        });






        function batchSubmit(obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data;

            okLayer.confirm("确定批量提交吗？", function () {
                parent.layui.$("form").children("input[name='" + [[${treeId}]] + "dictId']").not(".one").remove();
                parent.layui.$("form").children("input[name='" + [[${treeId}]] + "value']").not(".one").remove();
                let countVal = 0;
                for (let i = 0; i < data.length; i++) {
                    let value1 = $("input[name='" + data[i].dictId + "']").next("input[name='value']").val();// 获取选中金额
                    alert(value1+"替换前==");
                    let value =value1.replace(/,/g,"");
                    if (value == "") {
                        value = 0;
                    }
                    alert(value+"提交金额为");
                    countVal =  parent.retain(parent.accAdd(countVal,value),2)

                    if (parent.layui.$("." + data[i].dictId).length == 0) {
                        parent.layui.$("form").append("<input class='one " + data[i].dictId + "' name=\"" + [[${treeId}]] + "dictId\" value=\"" + data[i].dictId + "\" type=\"hidden\" >");
                        parent.layui.$("form").append("<input class='one " + data[i].dictId + "' name=\"" + [[${treeId}]] + "value\" value=\"" + parent.retain(value,2) + "\" type=\"hidden\" >");
                    } else {
                        parent.layui.$("." + data[i].dictId).filter("input[name='" + [[${treeId}]] + "value']").val(parent.retain(value,2));
                    }


                }
                countUpFu(parent.layui.countUp, parent.layui.$("input[value='" + [[${treeId}]] + "']").parent("td"), parent.retain(countVal,2));
                layer.close(layer.index);
                // parent.layer.close(parent.layer.getFrameIndex(window.name));
                okLayer.greenTickMsg("提交成功！");
                return true;
            })

        }
    });

    function countUpFu(countUp, obj, dataValue) {

        var dataValue1 =formatCurrency(dataValue)
        // alert(dataValue+"结果")
        $(obj).children("input[name='detailValue']").val(dataValue);//bigd
        $(obj).children("span[id='span']").text(dataValue1);//string
        $(obj).children("span[id='span']").css("font-size","20px");
        // var count_up = new countUp({
        //     target: $(obj).children("span"),
        //     startVal: 0, //目标开始的值，默认值为0
        //     endVal: dataValue, //到达目标值,默认值为元素的值
        //     decimals: 2, //小数位数，默认值为0
        //     duration: 3 //动画持续时间为秒，默认值为2
        // });
        // count_up.start();
    }

    //千分符
    function formatCurrency(num)
    {

        num =toDecimal2(num)

        if(num)
        {
            if(isNaN(num)){
                num =num;
            }
            //将num中的$,去掉，将num变成一个纯粹的数据格式字符串
            num = num.toString().replace(/\$|\,/g,'');
            //如果num不是数字，则将num置0，并返回
            if(''==num || isNaN(num)){return 'Not a Number ! ';}
            //如果num是负数，则获取她的符号
            var sign = num.indexOf("-")== 0 ? '-' : '';
            //如果存在小数点，则获取数字的小数部分
            var cents = num.indexOf(".")> 0 ? num.substr(num.indexOf(".")) : '';
            cents = cents.length>1 ? cents : '' ;//注意：这里如果是使用change方法不断的调用，小数是输入不了的
            //获取数字的整数数部分
            num = num.indexOf(".")>0 ? num.substring(0,(num.indexOf("."))) : num ;
            //如果没有小数点，整数部分不能以0开头
            if('' == cents){ if(num.length>1 && '0' == num.substr(0,1)){return 'Not a Number ! ';}}
            //如果有小数点，且整数的部分的长度大于1，则整数部分不能以0开头
            else{if(num.length>1 && '0' == num.substr(0,1)){return 'Not a Number ! ';}}
            //针对整数部分进行格式化处理，这是此方法的核心，也是稍难理解的一个地方，逆向的来思考或者采用简单的事例来实现就容易多了
            /*
              也可以这样想象，现在有一串数字字符串在你面前，如果让你给他家千分位的逗号的话，你是怎么来思考和操作的?
              字符串长度为0/1/2/3时都不用添加
              字符串长度大于3的时候，从右往左数，有三位字符就加一个逗号，然后继续往前数，直到不到往前数少于三位字符为止
             */
            if(num.substring(0,1)=="-"){
                var num = num.replace(/[\ |\~|\`|\!|\@|\#|\$|\%|\^|\&|\*|\(|\)|\-|\_|\+|\=|\||\\|\[|\]|\{|\}|\;|\:|\"|\'|\,|\<|\.|\>|\/|\?]/g,"");
                for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
                {
                    num = num.substring(0,num.length-(4*i+3))+','+num.substring(num.length-(4*i+3));
                }
            }else{
                for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
                {
                    num = num.substring(0,num.length-(4*i+3))+','+num.substring(num.length-(4*i+3));
                }
            }
            //将数据（符号、整数部分、小数部分）整体组合返回
            return (sign + num + cents);
        }else{
            if(isNaN(num)){
                num ="";
            }
            //将num中的$,去掉，将num变成一个纯粹的数据格式字符串
            num = num.toString().replace(/\$|\,/g,'');
            //如果num不是数字，则将num置0，并返回
            if(''==num || isNaN(num)){return 'Not a Number ! ';}
            //如果num是负数，则获取她的符号
            var sign = num.indexOf("-")== 0 ? '-' : '';
            //如果存在小数点，则获取数字的小数部分
            var cents = num.indexOf(".")> 0 ? num.substr(num.indexOf(".")) : '';
            cents = cents.length>1 ? cents : '' ;//注意：这里如果是使用change方法不断的调用，小数是输入不了的
            //获取数字的整数数部分
            num = num.indexOf(".")>0 ? num.substring(0,(num.indexOf("."))) : num ;
            //如果没有小数点，整数部分不能以0开头
            if('' == cents){ if(num.length>1 && '0' == num.substr(0,1)){return 'Not a Number ! ';}}
            //如果有小数点，且整数的部分的长度大于1，则整数部分不能以0开头
            else{if(num.length>1 && '0' == num.substr(0,1)){return 'Not a Number ! ';}}
            //针对整数部分进行格式化处理，这是此方法的核心，也是稍难理解的一个地方，逆向的来思考或者采用简单的事例来实现就容易多了
            /*
              也可以这样想象，现在有一串数字字符串在你面前，如果让你给他家千分位的逗号的话，你是怎么来思考和操作的?
              字符串长度为0/1/2/3时都不用添加
              字符串长度大于3的时候，从右往左数，有三位字符就加一个逗号，然后继续往前数，直到不到往前数少于三位字符为止
             */
            if(num.substring(0,1)=="-"){
                var num = num.replace(/[\ |\~|\`|\!|\@|\#|\$|\%|\^|\&|\*|\(|\)|\-|\_|\+|\=|\||\\|\[|\]|\{|\}|\;|\:|\"|\'|\,|\<|\.|\>|\/|\?]/g,"");
                for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
                {
                    num = num.substring(0,num.length-(4*i+3))+','+num.substring(num.length-(4*i+3));
                }
            }else{
                for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
                {
                    num = num.substring(0,num.length-(4*i+3))+','+num.substring(num.length-(4*i+3));
                }
            }
            //将数据（符号、整数部分、小数部分）整体组合返回
            return (sign + num + cents);
        }


    }

    function toDecimal2(x) {
        var f = parseFloat(x);   //将字符串转换为浮点型
        if (isNaN(f)) {       //isNaN() 函数用于检查其参数是否是非数字值。
            return false;
        }
        var f = Math.round(x*100)/100;
        var s = f.toString();
        var rs = s.indexOf('.');
        if (rs < 0) {
            rs = s.length;
            s += '.';
        }
        while (s.length <= rs + 2) {
            s += '0';
        }
        return s;
    }

</script>

<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="batchSubmit">批量提交</button>
    </div>
</script>

</body>
</html>
