<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/layui.css">
    <script th:src="@{/lib/layui/layui.js}" th:inline="javascript"></script>

</head>
<body>

<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>信息录入</legend>
    </fieldset>

    <div class="layui-row">
        <form class="layui-form layui-col-md12 ">
            <div class="layui-form-item">
            </div>
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input class="layui-input" placeholder="" autocomplete="off" id="time" name="time"
                           lay-key="1">
                </div>

                <div class="layui-input-inline">

                    <select id="organ" lay-filter="organ" class="layui-input" lay-search>
                        <option th:each="organ:${organList}" th:value="${organ.organId}"
                                th:text="${organ.organName}"></option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="projectId" id="project" lay-filter="project" class="layui-input" lay-search></select>
                </div>

                <button class="layui-btn" lay-submit="" lay-filter="search">
                    <i class="layui-icon layui-icon-search"></i>
                </button>

            </div>
        </form>
    </div>
    <table class="layui-hide" id="permissionTable" lay-filter="tableFilter"></table>

</div>

<!-- 表格操作列 -->
<script type="text/html" id="tbBar">
    <a class="layui-btn layui-btn-primary layui-btn-sm" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>

<script>
    let columnData = [];
    let okLayer;
    let $;
    let checked = false;
    layui.use(["table", "laydate", "okLayer", "okUtils", "form"], function () {
        $ = layui.jquery;
        let okUtils = layui.okUtils;
        let form = layui.form;
        let laydate = layui.laydate;
        let table = layui.table;

        okLayer = layui.okLayer;
        // 初始化项目字段

        //

        let newDate = new Date();
        let month = newDate.getMonth() + 1;
        let day = newDate.getDate();
        if (month < 10) {
            month = "0" + month;
        }
        if (day < 10) {
            day = "0" + day;
        }
        let nowTime = newDate.getFullYear() + "-" + month + "-" + day;
        laydate.render({
            elem: '#time',
            type: "date",
            range: true,
            value: newDate.getFullYear() + "-" + month + "-01" + " ~ " + nowTime,
            range: "~"
        });


        selectProject($("#organ").val())

        // 表单查询
        form.on("submit(search)", function () {
            initPermissionTable()
            return false;
        });

        // 初始化表格
        initPermissionTable()

        function initPermissionTable() {
            okUtils.ajax("/projectInsert/insert-list/data/", "post", returnForm($("form").serializeArray()), true).done(function (response) {
                table.render({
                    elem: '#permissionTable',
                    height: 'full-150',
                    data: response.data,
                    limit: 20,
                    size:"lg",
                    page: true,
                    toolbar: "#toolbarTpl",
                    cols: [
                        [
                            {type: "numbers", align: "center", title: "序号", width: 70, fixed: "left"},
                            {field: "user_real_name", align: "center", title: "录入员"},
                            {
                                title: "日期",
                                align: "center",
                                templet: '<div>{{ layui.util.toDateString(d.create_time, "yyyy-MM-dd") +" ~ "+ layui.util.toDateString(d.end_time, "yyyy-MM-dd") }}</div>'
                            },
                            {
                                title: "状态", align: "center", templet: function (item) {
                                    if (item.is_through == 0) {
                                        return '<span class="layui-btn layui-btn-normal layui-btn-sm">通过</span>'
                                    } else if (item.is_through == 1) {
                                        return '<span class="layui-btn layui-btn-sm">未上报</span>'

                                    } else if (item.is_through == 2) {
                                        return '<span class="layui-btn layui-btn-warm layui-btn-sm">审批中</span>'

                                    } else if (item.is_through == -1) {
                                        return '<span class="layui-btn layui-btn-danger layui-btn-sm">未通过</span>'

                                    }

                                }
                            },

                            {
                                title: "操作",
                                width: 400,
                                templet: "#operationTpl",
                                align: "center",
                                fixed: "right",
                                toolbar: '#barDemo'
                            }
                        ]
                    ],
                    done: function (res, curr, count) {
                        console.info(res, curr, count);
                    }
                });
            });

        }

        // 绑定自定义事件
        table.on("tool(tableFilter)", function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case "edit":
                    addOrEditPage($("#project").val(), "edit", data.apply_flag);
                    break;
                case "del":
                    del($("#project").val(), data.apply_flag);
                    break;
                case "returns":
                    returns($("#project").val(), data.apply_flag);
                    break;
                case "detail":
                    detail(data.table_name, data.apply_flag);
                    break;
            }
        });

        // 表格绑定添加事件

        table.on("toolbar(tableFilter)", function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case "add":
                    addOrEditPage($("#project").val(), "add");
                    break;
            }
        });

        // 添加、修改
        function addOrEditPage(projectId, type, applyFlag) {
            if (projectId != null && projectId != "") {
                let windowsOpen = window.open("/projectInsert/addOrEditPage?projectId=" + projectId + "&type=" + type + "&applyFlag=" + applyFlag, 'newwindow', 'height=100000, width=100000, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no')
                var loop = setInterval(function () {//监听子页面关闭事件,轮询时间1000毫秒
                    if (windowsOpen.closed) {
                        clearInterval(loop);
                        initPermissionTable()
                    }
                }, 1000);
            } else {
                layer.msg("请选择项目", {icon: 2, time: okLayer.time});
            }
        }


        // 删除
        function del(projectId, apply_flag) {
            okLayer.confirm("确定要删除吗？", function () {
                okUtils.ajax("/projectInsert/del/?projectId=" + projectId + "&applyFlag=" + apply_flag, "post", true).done(function (response) {
                    layer.msg(response.msg, {icon: 1, time: okLayer.time}, function () {
                        initPermissionTable();
                    });
                });
            })

        }

        // 详情
        function detail(tableName, apply_flag) {
            window.open("/activity-request/detail?applyFlag=" + apply_flag + "&tableName=" + tableName,
                'newwindow', 'height=100000, width=100000, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no')
        }
        // 强制驳回
        function returns(projectId, apply_flag){

            okUtils.ajax("/projectInsert/returns/?projectId=" + projectId + "&applyFlag=" + apply_flag, "post", true).done(function (response) {
                layer.msg(response.msg, {icon: 1, time: okLayer.time}, function () {
                    initPermissionTable();
                });
            });

        }


        // 监听组织
        form.on('select(organ)', function (data) {
            selectProject(data.value);
        })

        /**
         * 查询项目
         */
        function selectProject(organId) {
            $.ajax({
                url: '/project/list/',
                type: 'post',
                async: false,
                data: {
                    'organId': organId
                },
                success: function (result) {
                    $("#project").empty();
                    for (let i = 0; i < result.data.length; i++) {
                        $("#project").append("<option value='" + result.data[i].projectId + "'>" + result.data[i].projectName + "</option>")
                    }
                    form.render('select');
                }
            });
        }

        /**
         * 返回form表单数据
         * @param formData
         * @returns {{}}
         */
        function returnForm(formData) {
            let data = {};
            for (let i = 0; i < formData.length; i++) {
                data[formData[i].name] = formData[i].value;
            }
            return data;

        }
    });

</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">录入</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    {{#  if(d.is_through == 1 || d.is_through == -1){ }}
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>

    {{#  } else if([[${session.userInfo.roleId}]] == 1){ }}
    <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">修改</a>

    {{#  if(d.is_through == 0){ }}
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
    {{#  } }}

    {{#  } }}
    <a class="layui-btn layui-btn-sm" lay-event="detail">详情</a>


<!--    {{#  if([[${session.userInfo.roleId}]] == 1 && d.is_through != 0 ){ }}-->
<!--    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="returns">驳回</a>-->
<!--    {{#  } }}-->
    {{#  if([[${session.userInfo.roleId}]] == 1 ){ }}
     <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="returns">驳回</a>
    {{#  } }}


</script>

</body>
</html>