<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/oksub.css}" href="../../css/oksub.css">
    <style>
        /*.layui-layer-page .layui-layer-content { overflow: visible; }*/
    </style>
</head>
<body>
<div class="layui-fluid">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>关联账户列表</legend>
    </fieldset>
    <div class="layui-row">
        <div class="layui-col-md4">
            <button class="layui-btn layui-btn-normal" type="button" id="addBtn">
                <i class="layui-icon">&#xe608;</i> 添加
            </button>
        </div>
    </div>
    <table id="table" lay-filter="table"></table>
</div>
<script th:src="@{/lib/layui/layui.js}" th:inline="javascript"></script>
<script type="text/html" id="barFun">
    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
    <button type="button" class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">修改</button>
</script>
<script th:inline="none">
    layui.use(['table', 'layer', 'jquery', "okLayer"], function () {
        const table = layui.table;
        const $ = layui.$;
        const layer = layui.layer;
        let okLayer = layui.okLayer;

        //第一个实例
        table.render({
            elem: '#table'
            , height: 'full-120'
            , url: '/user/userAccount/list' //数据接口
            , method: 'POST'
            , page: false //开启分页
            , cols: [[ //表头
                {type: "numbers", title: "序号", sort: true, width: 75},
                , {
                    field: 'tool',
                    title: '操作',
                    toolbar: '#barFun',
                    width: 120,
                    sort: false,
                    align: 'center',
                }
                , {field: 'userCode', title: '用户代码', sort: true, align: "center"}
            ]]
        });

        //监听工具条
        table.on('tool(table)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            let data = obj.data; //获得当前行数据
            let layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            let tr = obj.tr; //获得当前行 tr 的DOM对象

            if (layEvent === 'del') { //删除
                okLayer.confirm('确定删除？', function (index) {
                    //向服务端发送删除指令
                    $.post('/user/userAccount/delete', {'id': data.id}, function (res) {
                        if (res.code === '0') {
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.msg(res.msg);
                        } else {
                            layer.msg(res.msg);
                        }
                    });
                    layer.close(index);
                });
            } else if (layEvent === 'edit') {
                $.get('/user/userAccount/addOrEditPage', {id: data.id, type: "edit"}, function (html) {
                    layer.open({
                        title: '修改',
                        type: 1,
                        maxmin: true,
                        shade: 0.5,
                        anim: okLayer.animChoose(),
                        area: ['27%', '36%'],
                        content: html,
                        zIndex: layer.zIndex,
                        skin: okLayer.skinChoose()

                    });
                });
            }
        });

        // 监听添加按钮
        $('#addBtn').on('click', function () {
            $.get('/user/userAccount/addOrEditPage?type=add', function (html) {

                layer.open({
                    title: '添加',
                    type: 1,
                    maxmin: true,
                    shade: 0.5,
                    anim: okLayer.animChoose(),
                    area: ['27%', '36%'],
                    content: html,
                    zIndex: layer.zIndex,
                    skin: okLayer.skinChoose(),
                    end:function(){
                        parent.$(".layui-icon-refresh-3").trigger("click");
                    }

                });
            })
        });
    });
</script>
</body>
</html>