<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>权限列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../css/oksub.css">
    <link rel="stylesheet" href="../../css/dtree.css">
    <link rel="stylesheet" href="../../font/dtree/dtreefont.css">

</head>
<body class="ok-body-scroll">
    <div class="ok-body">
        <!--面包屑导航区域-->
        <!--<div class="ok-body-breadcrumb">
                <span class="layui-breadcrumb">
                    <a><cite>首页</cite></a>
                    <a><cite>常用页面</cite></a>
                    <a><cite>权限列表</cite></a>
                </span>
            <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
                <i class="layui-icon layui-icon-refresh"></i>
            </a>
        </div>
        &lt;!&ndash;模糊搜索区域&ndash;&gt;
        <div class="layui-row">
            <form class="layui-form layui-col-md12 ok-search">
                <input class="layui-input" placeholder="开始日期" autocomplete="off" id="startTime">
                <input class="layui-input" placeholder="截止日期" autocomplete="off" id="endTime">
                <input class="layui-input" placeholder="请输入权限名" autocomplete="off">
                <button class="layui-btn" lay-submit="" lay-filter="search">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </form>
        </div>-->

<!--        <div class="layui-row">-->
<!--            <div class="layui-col-md5">-->
<!--                <div id="permissionTree"></div>-->
<!--            </div>-->
<!--            <div class="layui-col-md7">-->
<!--                <table class="layui-hide" id="permissionTable" lay-filter="tableFilter"></table>-->
<!--            </div>-->
<!--        </div>-->


        <table class="layui-hide" id="permissionTable" lay-filter="tableFilter"></table>

    </div>
    <!--js逻辑-->
    <script th:src="@{/lib/layui/layui.js}"  th:inline="javascript"></script>
    <script type="text/html" id="barDemo">

        <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</a>
    </script>
    <script th:inline="javascript">
        layui.use(["element", "table", "laydate", "okLayer", "tree", "okUtils", "okMock", "dtree"], function () {
            let table = layui.table;
            let laydate = layui.laydate;
            let okUtils = layui.okUtils;
            let okMock = layui.okMock;
            let okLayer = layui.okLayer;


            initPermissionTable();

            function initPermissionTable() {
                let tb = table.render({
                    elem: '#permissionTable',
                    height: 'full-50',
                    url: "/dict/list/",
                    limit: 20,
                    page: true,
                    toolbar:"#toolbarTpl",
                    size: "lg",
                    where:{"parentId":[[${sysDict.parentId}]]},
                    cols: [
                        [
                        {type:"numbers",title: "序号", sort: true,width:75},
                        {field: "dictName", title: "字典名称"},
                        {field: "dictCode", title: "字典编码"},
                        {field: "userRealName", title: "创建人"},
                        {field: "organName", title: "所属组织"},
                        {field: "dictDescript", title: "字典描述"},
                        {field: "createTime", title: "创建时间", templet:'<div>{{ layui.util.toDateString(d.createTime, "yyyy-MM-dd HH:mm:ss") }}</div>',minWidth:150},
                        {title: "操作", templet: "#operationTpl", align: "center", fixed: "right",toolbar: '#barDemo'}
                    ]
                    ],
                    done: function (res, curr, count) {
                        console.info(res, curr, count);
                    }
                });
            }

            table.on("tool(tableFilter)", function (obj) {
                let data = obj.data;
                switch (obj.event) {
                    case "add":
                        addOrEditPage(data.dictId,"add");
                        break;
                    case "edit":
                        addOrEditPage(data.dictId,"edit");
                        break;
                    case "detial":
                        set(data.projectId,data.projectName);
                        break;
                    case "del":
                        del(data.dictId);
                        break;
                }
            });
            table.on("toolbar(tableFilter)", function (obj) {
                switch (obj.event) {
                    case "add":
                        addOrEditPage("","add");
                        break;
                }
            });

            // 添加修改
            function addOrEditPage(dictId,type) {
                okLayer.open(type=="add"?"添加列表":"编辑列表", "/dict/detail/addOrEditPage?dictId=" + dictId+"&type="+type+"&parentId="+[[${sysDict.parentId}]], "90%", "90%", null, function () {

                    initPermissionTable();
                })
            }

            // 删除
            function del(dictId) {
                okLayer.confirm("确定要删除吗？", function () {
                    okUtils.ajax("/dict/delete/", "post", {dictId: dictId}, true).done(function (response) {
                        layer.msg(response.msg, {icon: 1, time: okLayer.time}, function () {
                            initPermissionTable();
                        });
                    }).fail(function (error) {
                    });
                })

            }

        });
    </script>
    <!--行工具栏模板-->
    <script type="text/html" id="operationTpl">
        <a href="javascript:" title="编辑" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>
        <a href="javascript:" title="删除" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
    </script>
    <!-- 头工具栏模板 -->
    <script type="text/html" id="toolbarTpl">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        </div>
    </script>

</body>
</html>
