<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/oksub.css}" href="../../css/oksub.css">
</head>
<body>
<div class="layui-fluid" xmlns:th="http://www.thymeleaf.org">
    <form class="layui-form" >
        <hr>
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block">
                <input type="password" name="oldPassword" placeholder="密码" autocomplete="off" class="layui-input"
                       lay-verify="required|pass">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" placeholder="密码" autocomplete="off" class="layui-input"
                       lay-verify="required|pass">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认新密码</label>
            <div class="layui-input-block">
                <input type="password" name="userPasswordCheck" placeholder="确认密码" autocomplete="off"
                       class="layui-input" lay-verify="required|pass" id="userPasswordCheck">
            </div>
        </div>
        <hr>
        <div class=" layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/lib/layui/layui.js}"  th:inline="javascript"></script>
<script>
    layui.use(['form', 'jquery', 'layer', 'okUtils', 'okLayer'], function () {
        const form = layui.form;
        const $ = layui.$;
        const layer = layui.layer;
        let okLayer = layui.okLayer;
        let flag = false;
        let okUtils = layui.okUtils;
        form.on("submit(*)", function (data) {
            $.ajax({
                url: '/user/check/password',
                type: 'post',
                async: false,
                data: {'userId': [[${userId}]], 'password': data.field.oldPassword},
                success: function (result) {
                    if (result.code !== "0") {
                        flag = true;
                        layer.msg('旧密码不正确', {icon: 5, anim: 6});
                    } else {
                        flag = false;
                    }
                }
            });

            // 校验两次密码是否一致
            if (data.field.password !== data.field.userPasswordCheck) {
                flag = true;
                layer.msg('两次密码不一致', {icon: 5, anim: 6});
            }

            if (flag) {
                return false;
            }
            okUtils.ajax("/user/update/password", "post", data.field, true).done(function (response) {
                if (response.code === "0") {
                    layer.msg(response.msg, {icon: 1, time: okLayer.time}, function () {
                        top.location.reload()
                    });

                }
                // okLayer.greenTickMsg(response.msg, function () {
                // })
            }).fail(function (error) {
            });
            return false;
        });
    });
</script>
</body>
</html>