<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>财务审批列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../css/oksub.css">
    <link rel="stylesheet" href="../../css/dtree.css">
    <link rel="stylesheet" href="../../font/dtree/dtreefont.css">

</head>
<body class="ok-body-scroll">
<div class="ok-body">
    <table class="layui-hide" id="permissionTable" lay-filter="tableFilter"></table>

</div>
<!--js逻辑-->
<script th:src="@{/lib/layui/layui.js}"  th:inline="javascript"></script>
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="query">查看</a>
    <a class="layui-btn layui-btn layui-btn-sm" lay-event="deploy">上报</a>
<!--
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
-->
</script>
<script>
    layui.use(["element", "table", "laydate", "okLayer", "tree", "okUtils", "okMock", "dtree"], function () {
        let table = layui.table;
        let laydate = layui.laydate;
        let okUtils = layui.okUtils;
        let okMock = layui.okMock;
        let okLayer = layui.okLayer;


        initPermissionTable();

        function initPermissionTable() {
            okUtils.ajax("/activity-deployment/list/", "post", null, true).done(function (response) {
                let tb = table.render({
                    elem: '#permissionTable',
                    height: 'full-50',
                    data: response.data,
                    limit: 15,
                    page: true,
                    toolbar: "#toolbarTpl",
                    size: "lg",
                    cols: [
                        [
                            {type: "numbers", title: "序号", sort: true, width: 70},
                            {field: "id", title: "流程ID"},
                            {field: "name", title: "流程名称"},
                            {field: "deploymentId", title: "部署ID"},
                            {field: "deploymentName", title: "部署名称", minWidth: 150},
                            {
                                title: "操作",
                                templet: "#operationTpl",
                                align: "center",
                                fixed: "right",
                                toolbar: '#barDemo'
                            }
                        ]
                    ],
                    done: function (res, curr, count) {
                        console.info(res, curr, count);
                    }
                });
            });

        }

        table.on("tool(tableFilter)", function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case "query":
                    query(data.deploymentId);
                    break;
                case "edit":
                    window.open("/activity-model/editor/" + data.id);
                    break;
                case "delete":
                    del(data.deploymentId);
                    break;
                case "deploy":
                    deploy(data.deploymentId);
                    break;
            }
        });

        // 查看
        function query(deploymentId) {
            okLayer.open("查看", "/activity-deployment/queryPage?deploymentId=" + deploymentId, "90%", "90%", null, function () {
            })
        }

        // 删除
        function del(deploymentId){
            okLayer.confirm("确定要删除吗？", function () {
                okUtils.ajax("/activity-deployment/removeDeployment", "post", {deploymentId: deploymentId}, true).done(function (response) {
                    layer.msg(response.msg,{icon: 1, time: okLayer.time},function () {
                        initPermissionTable();
                    });
                }).fail(function (error) {
                });
            })
        }

        function deploy(deploymentId){
            okLayer.open("上报", "/activity-deployment/applyPage?deploymentId=" + deploymentId, "90%", "90%", null, function () {
            })
            // okLayer.confirm("确定要上报？", function () {
            //     okUtils.ajax("/activity-deployment/startDeployment", "post", {deploymentId: deploymentId}, true).done(function (response) {
            //         layer.msg(response.msg,{icon: 1, time: okLayer.time},function () {
            //             initPermissionTable();
            //         });
            //     }).fail(function (error) {
            //         console.log(error)
            //     });
            // })
        }

    })
    ;
</script>


</body>
</html>
