<div class="layui-fluid" xmlns:th="http://www.thymeleaf.org">
    <form class="layui-form" action="/role/sys-role/save" method="post">
        <input type="hidden" name="id" th:if="${data != null}"
               th:value="${data != null && data.id != null ? data.id : ''}">
        <hr>
        <div class="layui-form-item">
            <label class="layui-form-label">角色名</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="角色名" class="layui-input" lay-verify="required"
                       th:value="${data != null && data.name != null ? data.name : ''}">
            </div>
        </div>
        <hr>
        <div class=" layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use(['form'], function () {
        const form = layui.form;
    });
</script>